{% extends 'base.html.twig' %}

{% block title %}Satisfaction - Stellantis{% endblock %}

{% block body %}
    <div class="form-client-custom p-5 ">
        {{ form_start(formretour) }}

        <h3 class="h3 mb-3  text-center font-weight-normal">Formulaire de satisfaction</h3>
        <p class="pt-5 pl-2">Si vous ne trouvez pas votre nom veuillez utiliser 11-invites 11</p>
        <div class="row">
            <div class="col-md-6 p-2">
                {{ form_row(formretour.client, {'label': 'Vous êtes : '}) }}
            </div>
            <div class="col-md-6 p-2">
                {{ form_row(formretour.voitures, {'label': 'Voiture essayée :'}) }}
            </div>
        </div>
        <div class="py-2">
            {{ form_row(formretour.avis, {'label': 'Avis'}) }}
        </div>
        <div class="p-2 text-center">
            {{ form_rest(formretour) }}
        </div>

    </div>
{% endblock %}
