{% extends 'base.html.twig' %}

{% block title %}Mes choix - Stellantis{% endblock %}

{% block body %}

    <div class="p-5">
        <div class="text-right p-2">
            <a href="{{ path('app_modif_choix') }}" class="btn btn-primary btn-lg rounded-5" role="button">Modifier mes choix</a>
        </div>
        <div class="row align-items-center pt-5">
        {% if app.user.choix01 %}
            <div class="col-md-4 p-4 text-center">
                <h5 class="mb-3">Choix 01 : </h5>
                <p>{{ app.user.choix01.marques }} {{ app.user.choix01.modele }} - {{ app.user.choix01.energies }}</p>
            </div>
        {% endif %}
        {% if app.user.choix02 %}
            <div class="col-md-4 p-4 text-center">
                <h5 class="mb-3">Choix 02 : </h5>
                <p>{{ app.user.choix02.marques }} {{ app.user.choix02.modele }} - {{ app.user.choix02.energies }}</p>
            </div>
        {% endif %}
        {% if app.user.choix03 %}
            <div class="col-md-4 p-4 text-center">
                <h5 class="mb-3">Choix 03 : </h5>
                <p>{{ app.user.choix03.marques }} {{ app.user.choix03.modele }} - {{ app.user.choix03.energies }}</p>
            </div>
        {% endif %}

        </div>

{% endblock %}